<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515691323092-9855kukc4b1bm15q4bg45aco5ibplod1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515691323092-9855kukc4b1bm15q4bg45aco5ibplod1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>515691323092-f19buvutdhnt4qhb05i23hcsuho3b5n6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzee5Xhl9MzzRt-p-3SQMJ-xE6ScF84po</string>
	<key>GCM_SENDER_ID</key>
	<string>515691323092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.cli4</string>
	<key>PROJECT_ID</key>
	<string>react-cli4</string>
	<key>STORAGE_BUCKET</key>
	<string>react-cli4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515691323092:ios:486d110aff5f706595e541</string>
</dict>
</plist>